.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.scrollable {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  overflow-y: auto;
}

.button {
  padding: 8px;
  width: 20em;
  font-size: 100%;
  cursor: pointer;
  border: 2px solid var(--color-black);
  border-radius: 8px;
  background-color: var(--color-white);
  color: var(--color-black);

  &:active {
    background-color: var(--color-black) !important;
    color: var(--color-white);
  }

  &.cleared {
    background-color: var(--color-yellow-light);
  }

  &.completely-cleared {
    background-color: var(--color-green-light);
  }
}

.version {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 8px;
}

.game-title {
  position: relative;
}

.game-title-diagonal {
  position: absolute;
  top: -30px;
  left: -40px;
  font-size: 80%;
  font-weight: normal;
  transform: rotate(-10deg);
  transform-origin: top right;
  white-space: nowrap;
  color: var(--color-red);
}
